<h2>Build a new track in <%= Category.find(params[:category_id]).title %></h2>
<%= form_for @track, remote: true  do |f|%>
  <%= f.label :name%>
  <%= f.text_field :name %><br>
  <%= f.label :description %>
  <%= f.text_field :description %><br>
  <%= f.hidden_field :category_id %>

  <%= f.submit %>
<% end %>

<div id="new_form"></div>
