<h1> <%= @track.name %></h1>
<p> <%= @track.description %></p>


<% if @is_enrolled %>
<h3>Progress Bar:</h3>
<div class="progress">
  <div class="progress-bar" role="progressbar" aria-valuenow="<%= @completion %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= @completion %>%;">
    <%=  @completion %>%
  </div>
</div>
<p><%= @completion %>% completed</p>
<% end %>
<br><br>

<ul>
  <% @lessons.each do |lesson| %>
    <li><%= link_to lesson.title, lesson_path(lesson) %> - <%= lesson.duration %></li>
  <% end %>
</ul>

<% if @is_enrolled == false %>

    <%= form_tag students_tracks_path, method: :post do %>
    <%= hidden_field_tag(:track_id, @track.id) %>
      <%= submit_tag "Enroll" %>
    <% end %>
<% else %>
  <p>You Are ENROLLED!! Get ready to Learn!</p>

<% end %>

<!-- Should only appear to teachers!!!!! -->
<p><%= link_to "Add a Lesson", new_track_lesson_path(@track) %></p>
