<div class="page-header">
  <h1>
  <%= @track.name %><br>
  <small> <%= @track.description %></small>
  </h1>
</div>


<% if @is_enrolled %>
  <%= render "showenrolledstudent" %>
<% elsif @is_enrolled == false && @is_teacher == false %>
  <%= render "notenrolled" %>
<% end %>

<% if @is_teacher %>
  <%= render "teachershow" %>
<% end %>

<div class="create-new-track">
  <br>
  <%= link_to(category_path(@track.category)) do %>
  <p><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
    Return to <%= @track.category.title %> Tracks</p>
    <% end %>
</div>
