<h2><%= @user.email %></h2>
<a class="popup-with-form" href="#contact-form">Message This User</a>

<h3>Enrolled Tracks</h3>

<% if @learning %>
    <ul>
    <% @learning.each do |track| %>
    <li><%= link_to track.name, track_path(track) %>, taught by <%= link_to track.teacher.user.email, user_path(track.teacher.user)  %></li>

  <% end %>
  </ul>
  <% else %>
    Enrolled in 0 Courses!
<% end %>
<h3>Classes Taught</h3>
<% if @teaching %>
<ul>
    <% @teaching.each do |track| %>
    <h4><li><%= link_to track.name, track_path(track) %></li></h4>
    <h5>Enrolled in this course:</h5>
    <% if track.students.any? %>
      <ul>
        <% track.students.each do |student| %>
        <li><%= link_to student.user.email, user_path(student.user) %> </li>
        <% end %>
      </ul>
    <% else %>
      There are 0 students enrolled in this course!
    <% end %>
    <br>
  <% end %>
  </ul>
  <% else %>
    Teaching 0 Courses!
<% end %>

<h3>Points</h3>
You have <%= @points %> points.

<form id="contact-form" class="white-popup-block mfp-hide">
  <h4>Contact <%= @user.email %></h4>
  <fieldset style="border:0;">
    <input type="hidden" id="recipient_id" value=<%= params[:id] %> >
    <input type="hidden" id="sender_id" value=<%= current_user.id %> >
    <ol>
      <li>
        <label for="content">Message Content</label><br>
        <textarea id="content" placeholder="Type your message here..."></textarea>
      </li>
      <li>
      <input type="submit" value="send" id="send">
      </li>
    </ol>
    <div id="status"></div>
  </fieldset>
</form>

