<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><%= image_tag "logo_text", size: "250"%></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home <span class="sr-only">(current)</span></a></li>
        <li><a href="/">Categories</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">My Enrolled Tracks <span class="caret"></span></a>
          <ul class="dropdown-menu">

            <% if current_user && current_user.student != nil %>
              <% current_user.student.tracks.each do |tr| %>
                <li><%= link_to tr.name, track_path(tr)%></li>
              <% end %>
            <% end %>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">My Tracks <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <% if current_user && current_user.teacher != nil %>
              <% current_user.teacher.tracks.each do |tr| %>
                <li><%= link_to tr.name, track_path(tr)%></li>
              <% end %>
            <% end %>
          </ul>
        </li>
      </ul>
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
        <input type="text" class="typeahead tt-query" autocomplete="off" spellcheck="false">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
          <ul class="nav navbar-nav navbar-right">
            <% if user_signed_in? %>
           <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            <%= current_user.email %>
            <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/users/<%= current_user.id%>#Enrolled%20Tracks">My Enrolled Tracks</a></li>
              <li><a href="/users/<%= current_user.id%>#Classes%20Taught">My Created Tracks</a></li>
              <li><a href="/users/<%= current_user.id%>">Account</a></li>
              <li role="separator" class="divider"></li>
              <li><%= link_to "Log Out", destroy_user_session_path, :method => :delete %></li>
            </ul>
          </li>
          <% else %>
           <li><%=  link_to "Sign In", new_user_session_path%></li>
          <% end %>
       </ul>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
