<% assessments.each do |assessment| %>

  <% assessment.questions.each_with_index do |question, index| %>
    <%= index + 1 %>. <%= question.content %><br>

    <div class="answer-<%= question.id %>">

    <% if student.find_answer(question).empty? %> <!-- checks if student already answered question -->
      <%= form_for question.answers.build(), {url: question_answers_path(question)} do |f| %>
        <%= f.text_field  :content %>
        <%= f.hidden_field :student_id, {:value => student.id } %>
        <%= f.hidden_field :assessment_id, {:value => assessment.id} %>
        <%= f.hidden_field :question_id, { :value => question.id} %>
        <%= f.submit "Answer", id: "answer" %><br>
      <% end %>

    <% else %>
        <%= student.find_answer(question)[0].content %><br>
        <%= link_to "Edit Answer", '#' %>
    <% end %>

    </div>

    
  <% end %>

<% end %>