 <!--=== Resources section Starts ===-->
  <section id="section-feature" class="feature-wrap">
    <div class="container features center">
      <div class="row">
        <div class="col-lg-12">
            <!--Resource container Starts -->
            <ul id="card-ul" class="features-hold baraja-container">

            <% @combinedResourceAssessments.each do |obj| %>

              <% if obj.class == Resource %>
  
                <!-- Single Resource Starts -->
                <li class="single-feature" id="<%= obj.id %>" title="Card style">
                
                <% if obj.type_of == "Video" %>
                  <%= image_tag "http://img.youtube.com/vi/#{obj.video_id}/hqdefault.jpg", :class => "feature-image" %>
                <% elsif obj.type_of == "Image" %>
                  <%= image_tag obj.content, :class => "feature-image" %>
                <% elsif obj.type_of == "Reading" %>
                  <%= image_tag "http://icons.iconarchive.com/icons/martz90/circle/512/books-icon.png", :class => "feature-image" %>
                <% elsif obj.type_of == "Audio" %>
                  <%= image_tag "http://aldemedianoche.com.ar/wp-content/uploads/2015/01/audio.png", :class => "feature-image" %>
                <% elsif obj.type_of == "Audio" %>
                  <%= image_tag "logo", :class => "feature-image" %>
                <% end %><!-- Resource Icon -->

                  <h4 class="feature-title color-scheme"><%= obj.title %></h4>

                  <p class="feature-text">
                  <%= obj.description %>                
                  </p>

                <% if obj.type_of == "Video" %>
                  <%= link_to "Open", obj.content, id: "popup-youtube", class: "btn btn-success btn-sm" %>
                <% elsif obj.type_of == "Image" %>
                  <%= link_to "Open", obj.content, id: "image-popup-vertical-fit", class: "btn btn-success btn-sm" %>
                <% elsif obj.type_of == "Reading" %>
                  <%= link_to "Open", obj.content, class: "btn btn-success btn-sm"%>
                <% elsif obj.type_of == "Audio" %>
                  <%= link_to "Open", obj.content, class: "btn btn-success btn-sm"  %>
                <% elsif obj.type_of == "Other" %>
                  <%= link_to "Open", obj.content, class: "btn btn-success btn-sm"  %>
                <% end %>
                
                  <%= link_to "Mark as Complete", "#", class: "btn btn-info btn-sm" %>

                </li>
                <!-- Single Resource Ends -->
                <% end %>
            <% end %>
          </ul>
            <!--Resource container Ends -->
            
            <!-- Resources Controls Starts -->
            <div class="features-control relative">
              <button class="control-icon fancy-button button-line no-text btn-col bell" id="feature-prev" title="Previous" >
                <span class="glyphicon glyphicon-triangle-left" aria-hidden="true"></span>
              </button>
              <button class="control-icon fancy-button button-line no-text btn-col zoom" id="feature-expand" title="Expand" >
                <span class="glyphicon glyphicon-resize-full" aria-hidden="true"></span>
              </button>
              <button class="control-icon fancy-button button-line no-text btn-col zoom" id="feature-close" title="Collapse" >
                <span class="glyphicon glyphicon-resize-small" aria-hidden="true"></span>
              </button>
              <button class="control-icon fancy-button button-line no-text btn-col bell" id="feature-next" title="Next" >
                <span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>
              </button>
            </div>
            <!-- Resources Controls Ends -->
        </div>
      </div>
    </div>
  </section>
