


<ul class="grid cs-style-3">
  <% @categories.each do |category| %>
  <li>
    <figure>
      <% if category.title == "Art" %>
        <%= image_tag "art", width: "242", height: "200"%>
      <% elsif category.title == "STEM"%>
        <%= image_tag "stem", width: "242", height: "200"%>
      <% elsif category.title == "Health"%>
        <%= image_tag "health", width: "242", height: "200"%>
      <% elsif category.title == "Language"%>
        <%= image_tag "language", width: "242", height: "200"%>
      <% elsif category.title == "Music"%>
        <%= image_tag "music", width: "242", height: "200"%>
      <% elsif category.title == "History"%>
        <%= image_tag "history", width: "242", height: "200"%>
      <% end %>
      <figcaption>
        <h3><%= category.title %></h3>
        <span></span>
        <p></p>
        <%= link_to "Start Learning", category_path(category)%>
      </figcaption>
    </figure>
  </li>
  <% end %>
</ul >


<!-- <footer>
  <div>
  <h4>Random Fact</h4>
  <p><%# <%= @fact["title"]% %>></p>
  -As found <%# <%= link_to "here", @fact["url"] %> %>
  </div>
</footer> -->
