<h1> <%= @category.title %> </h1>
<ul>
<div class="row">
  <% @tracks.each do |track| %>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src=<%= track.image_url %>>
        <div class="caption">
          <h3><%= track.name %></h3>
          <p><%= track.description %></p>
          <p>
            <% if !current_user.student.nil? && current_user.student.tracks.include?(track) || current_user.teacher == track.teacher %>
              <a href="<%= track_path(track) %>" class="btn btn-primary" role="button">Open Track</a>
            <% else %>
              <a href="<%= track_path(track) %>" class="btn btn-primary" role="button">Preview Track</a>
              <%= link_to "Enroll", students_tracks_path(track_id: track.id), :method => :post, class: "btn btn-default", role: "button" %>
            <% end %>
          </p>
        </div>
      </div>
    </div>
  <% end %>
</div>

</ul>
<br><br>

<div class="create-new-track">
  <p><%= link_to "Create a New Track", new_category_track_path(@category.id) %></p>
  <br>
  <%= link_to(root_path) do %>
  <p><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
    Return to Category Selection</p>
    <% end %>
</div>
