<!DOCTYPE html>
<html>
<head>
  <title>Impartner</title>
  <%= favicon_link_tag "favicon.ico" %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render "pages/navbar2" %>





    <div class="container">
        <div class="row">
          <div class="col-md-1">
      <%= render "pages/sidebar" %>
            </div>
            <div class="col-md-11">
                <%= yield %>
              </div>


      </div>
    </div>


</body>
<footer>
  <div align="left">
    <a href="/shuffle"><%= image_tag "shuffle1", size: "300x30", style: "padding-top: 10px; padding-left: 20px" %></a>
  </div>
  <div align="center" class="random-fact">
  <%= button_tag "Click Here for a Random Fact!"%>
  </div>
</footer>
</html>
