<!DOCTYPE html>
<html>
<head>
  <title>Impartner</title>
  <%= favicon_link_tag "favicon.ico" %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

<%= render "pages/search" %>

</head>
<body>
<%= render "pages/navbar" %>
<div class="container">


  <%= yield %>
</div>
</body>
</html>
